@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  background-color: #fbfcfe;
}

.container {
  max-width: 1000px;
  padding: 30px;
  text-align: center;
  border: 3px #000 solid;
  border-radius: 10px;
  background-color: #fff;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.code {
  margin: 1%;
  height: 120px;
  width: 100px;
  font-size: 75px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
  appearance: textfield;
  -mox-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  display: inline-block;
  max-width: 400px;
  padding: 10px;
  line-height: 20px;
  color: #777;
  border-radius: 5px;
  background-color: #eaeaea;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    height: 60px;
    max-width: 70px;
    font-size: 60px;
  }
}
